<div class="row">
      <div class="col-lg-2 col-sm-2">
        <div class="well">
          <p><b>title</b></p>
          <p><%= book.title %></p>
        </div>
      </div>
      <div class="col-lg-2 col-sm-2">
        <div class="well">
          <p><b>author</b></p>
          <p><%=book.author%></p>
        </div>
      </div>
      <div class="col-lg-8 col-sm-8">
        <div class="well" style="margin-bottom: 0px">
          <p><b>content</b></p>
          <p><%=book.content%></p>
        </div>
        <button type="button" class="btn-danger" data-book-id="<%=book.id%>"  style="margin-bottom: 5px;margin-top: 5px">Delete</button>
        <button type="button" class="btn-primary" data-book-id="<%=book.id%>"  style="margin-bottom: 5px;margin-top: 5px;margin-left:10px">Edit</button>
      </div>
    </div>
